<aside>
  <header>
    <input type="text" placeholder="search">
  </header>
  <ul>
    <li>
      <img
        src="https://media-exp1.licdn.com/dms/image/C4D03AQGnjj1xn5rCEw/profile-displayphoto-shrink_800_800/0/1662886551849?e=1674691200&v=beta&t=hY-KnW_LxaOaOQQYWWzKpDhQz8I5nFE51SglxkNpF-Y"
        alt="Luis Carballo" class="foto_user">
      <div>
        <h2>Luis Carballo</h2>
        <!-- <h3 *ngIf="!wsService.socketStatus"><span class="status orange"></span>offline</h3>
        <h3 *ngIf="wsService.socketStatus"><span class="status green"></span>online</h3> -->
      </div>
    </li>
  </ul>
</aside>
