<ul id="chat">
  <li class="you" *ngFor="let msg of messages">
    <div class="entete">
      <span class="status green"></span>
      <h2>{{ msg.to }}</h2>
      <h3 class="ms-2">{{ msg.date }}</h3>
    </div>
    <div class="triangle"></div>
    <div class="message">{{ msg.msg }}</div>
  </li>
  <!-- <li class="me">
    <div class="entete">
      <h3>10:12AM, Today</h3>
      <h2>Vincent</h2>
      <span class="status blue"></span>
    </div>
    <div class="triangle"></div>
    <div class="message">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    </div>
  </li> -->
</ul>
